html {
    text-align: center;
    color: rgb(123, 173, 219);
    font-family: 'Hind Siliguri', sans-serif;
}

body {
    background-color: rgb(24, 25, 54);
}

#header h1 {
    border-bottom: 1px solid rgb(255, 136, 0);
}

.intro {
    margin: 0 auto;
    width: 25rem;
}

#playerButtonSelection, #bestOfFive {
    margin-top: 3em;
}

#rock, #paper, #scissors {
    border-radius: 20px;
    background-color: rgb(61, 117, 145);
    font-family: 'Hind Siliguri', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    width: 7em;
}
#rock:hover, #paper:hover, #scissors:hover {
    background-color: rgb(255, 136, 0);
    cursor: pointer;
}



#playerButtonSelection, #displayText, #bestOfFive {
    line-height: .9em;
}


#playerSelectionText, #computerSelectionText, #resultText {
    font-weight: 600;
    font-size: 1em;
}

#playerWins, #computerWins, #fullGameWinner {
    color: rgb(255, 136, 0);
}

#fullGameWinner {
    font-size: 2em;
}

#sources {
    font-size: .5em;
}